<form action="/login" method="POST">

    <label for="username">Username:</label>
    <input id="username" type="text" name="username">
    <label for="password">Password:</label>
    <input id="password" type="password" name="password">
    <input type="submit" value='Login'>
    <% if @failed %>
        <p class="danger"> Your username/password was incorrect </p>
    <% end %>
</form>