<h3>Welcome, we can't wait to have you.</h3>
<br>

<form action="/signup" method="POST">

    <label for="email">Enter Email:</label>
    <input id="email" type="text" name="email">
    <label for="name">Create Username:</label>
    <input id="name" type="text" name="name">
    <label for="password">Create Password:</label>
    <input id="password" type="password" name="password">
    <input type="submit" value='Signup'>
    
</form>