<!DOCTYPE html>
<html>

    <style>
    h3 {
        color: yellow;
    }

    label {
        color: yellow;
    }

    input {
        color: blue;
    }
    </style>

    <h3>Welcome, you're about to take your first step to SpeedCubing Domination !!</h3>
    <br>

    <form action="/signup" method="POST">
        <label for="email">Enter Email:</label>
        <input id="email" type="text" name="email">
        <label for="name">Create Username:</label>
        <input id="name" type="text" name="name">
        <label for="password">Create Password:</label>
        <input id="password" type="password" name="password">
        <input type="submit" value='Signup'>
    </form>

</html>