<header><img align="right" src="/images/The_Rock_Rubiks_Cube.gif"></header>

<h2><%= @cuber.name %>'s Home Page</h2>

<p>Personal Best: <br> <%= @best_cube_time.cube_time %></p>
<p>Overall Average: <br> <%= @average_cube_time.round(2) %></p>
<p>Last 5 Cube Times: </p>
<% @last_5.each do |x| %>
<p><%= x.cube_time %></p>
<% end %>
<link rel="stylesheet" href="/stylesheets/main.css" />
<nav>
    <ul>
        <li><a href="#">Select Cube Type</a>
            <ul>
                <li><a href="#">2x2</a></li>
                <li><a href="#">3x3</a></li>
                <li><a href="#">4x4</a></li>
                <li><a href="#">5x5</a></li>
                <li><a href="#">6x6</a></li>
            </ul>
        </li>
    </ul>
</nav>
<a href="/cube_times/new"><input type="submit" value="Enter New Time"></a>
<br>
<a href="/logout"><input type="submit" value="Logout"></a>

