<h1>Welcome <%= @cuber.name %>!</h1>

<a href="cube_times/new"><button type="submit">To enter Cube Time click this link:</button></a>
<br>
<a href="cube_times/show"><button type="submit">To see a history/average of your times click this link</button></a>
<br>
<a href="/logout"><button type="submit">Logout</button></a>