<h2>Welcome, <%= @cuber.name %>!</h2>

<a href="cube_times/new"><button type="submit">-Record Cube Time-</button></a>
<br>
<a href="cube_times/show"><button type="submit">-Your Stats and History-</button></a>
<br>
<a href="/logout"><button type="submit">-Logout-</button></a>