<!--<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>
<nav>

    <ul>
        <li><a href="#">Select Cube Type</a>
            <ul>
                <li><a href="#">2x2</a></li>
                <li><a href="#">3x3</a></li>
                <li><a href="#">4x4</a></li>
                <li><a href="#">5x5</a></li>
                <li><a href="#">6x6</a></li>
            </ul>
        </li>
    </ul>
</nav>-->
<h2><%= @cuber.name %></h2>
<h3>Select Cube Type:</h3>


<form action="/cube_times" method="POST">
<% CubeType.all.each do |type| %>
<input type="checkbox" name="cube_type" id="<%= type.id %>" value="<%= type.id %>"><%= type.name %></input></br>
<% end %>

<h3>Enter Your last Cube Time here:</h3>


<label for="cube_time">Time:</label>
<input id="cube_time" type="float" name="cube_time">
<input type="submit" value="Enter">
</form>
<!--</body>
</html>-->