<h1>Enter Your last Cube Time here:</h1>

<form action="/cube_times" method="POST">
<label for="cube_time">Time:</label>
<input id="cube_time" type="float" name="cube_time">
<input type="submit" value="Enter">
</form>
