<h2><%= @cuber.name %></h2>
<h3>Select Cube Type:</h3>


<form action="/cube_times" method="POST">
<% CubeType.all.each do |type| %>
<input type="checkbox" name="cube_type" id="<%= type.id %>" value="<%= type.id %>"><%= type.name %></input></br>
<% end %>

<h3>Enter Your last Cube Time here:</h3>


<label for="cube_time">Time:</label>
<input id="cube_time" type="float" name="cube_time">
<input type="submit" value="Enter">
</form>