<header><img align="right" src="/images/not_rubiks_cube.gif"></header>

 <style>
    h3 {
        color: yellow;
    }

    label {
        color: yellow;
    }

    input {
        color: blue;
    }
    </style>

    <h2><%= @cuber.name %>'s Last Cube Time</h2>
    <p><%= @cube_time.cube_time %></p>
    <a href="/cube_times/new"><input type="submit" value="Enter New Time"></a>
    <br>
    <a href="/cubers/index"><input type="submit" value="Cuber HomePage"></a>
    <br>
    <a href="/cube_times/<%= @cube_time.id %>/edit">
    <input type="submit" value="Edit Time"></a>
    <form method="POST" action="/cube_times/ <%= @cube_time.id %>/delete">
        <input type="hidden" type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
    </form>