<header><img align="bottom" src="images/giphy.gif"></header>


<div class="container">
  
  <div class="col-md-8 col-md-offset-2">
    
    <h1>Rubiks Time Tracker</h1>

    <div class="content">
      <p>Welcome to the Rubiks Time Tracker tool. Here, you'll be able to keep track of your cubing speed Average and Personal Best.
      If you do not have an account, please signup to access the awesome features. 
      If you are an existing Cuber, please login to your account.</p>
    </div>
  </div>
</div>